[Unit]
Description = xremap

[Service]
KillMode    = process
ExecStart   = /usr/bin/xremap /home/takashabe/.config/xremap/config.yaml
ExecStop    = /usr/bin/killall xremap
Type        = simple
Restart     = always
Environment = DISPLAY=:0

[Install]
WantedBy = default.target
