[Unit]
Description = xremap
After       = default.target

[Service]
Type      = simple
KillMode  = process
ExecStart = /usr/bin/xremap /home/takashabe/.config/xremap/config.yaml
Restart   = always

[Install]
WantedBy = default.target
