# general
**/tmp/

## Mac
\.DS_Store

## Vim
\.vim/bundle/
doc/tags
doc/tags-ja
common_ctags/
\.vim/cache/
\.vim/plugged/
\.vim/autoload/plug.vim
\.vim/sessions/default.vim
*.un~
Session.vim
.netrwhist
*~

## roast.vim
*.roast

## vscode
.vscode/
*.code-workspace

telepresence.log

.envrc

venv/
package-lock.json

# firebase
firebase-debug.log
firestore-debug.log

# docker
docker-compose.override.*
compose.override.*

# go
go.work
go.work.sum
.air.toml
coverage.html

# private memo
_memo*
_tmp
_tools
_secret

# alacritty
.config/alacritty/alacritty.yml
