## Mac
\.DS_Store

## Vim
\.vim/bundle/
doc/tags
doc/tags-ja
common_ctags/
\.vim/cache/
\.vim/plugged/
\.vim/autoload/plug.vim
*.un~
Session.vim
.netrwhist
*~

## vscode
.vscode/

telepresence.log

.envrc

_memo*
_tmp
_tools
_secret

# license
tmux-gruvbox-dark.conf
