[include]
  path = ~/.gitconfig.local
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
  editor = nvim
  quotepath = false
  excludesfile = ~/.gitignore
[merge]
  tool = vimdiff
[diff]
  tool=vimdiff
[ghq]
  root = ~/dev/src
[credential]
  helper = osxkeychain
