#!/bin/sh

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

eval $(/usr/bin/gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

xset m 1/2 4
xset r rate 200 60
xset s off
xset -dpms

xrandr &&

source $HOME/.screenlayout/basic.sh

xrdb -merge $HOME/.Xresources &&
