Xcursor.size: 12
Xft.antialias: true

! === theme
! #include ".config/Xresources.d/gruvbox.xresources"
#include ".config/Xresources.d/onedark.xresources"

! === urxvt ===
! fonts
urxvt.font:            xft:SF Mono Square:size=10
urxvt.letterSpace:     -1
! input method
urxvt.perl-ext-common: xim-onthespot
urxvt.inputMethod:     fcitx
urxvt.preeditType:     OnTheSpot
! key
urxvt.iso14755:        false
urxvt.iso14755_52:     false
! appearance
urxvt.pointerBlank:    true
urxvt.visualBell:      true
urxvt.scrollBar:       false
