# for wayland. https://github.com/xremap/xremap?tab=readme-ov-file#keypress_delay_ms
keypress_delay_ms: 20

# Note: application_id is the class from `hyptctl clients`

keymap:
  - name: fake Emacs(macOS)
    application:
      not: [Alacritty, Code, com.mitchellh.ghostty]
    exact_match: false
    remap:
      # Cursor
      # C-b: left
      C-b: right
      C-f: right
      C-p: up
      C-n: down
      C-h: backspace
      # Beginning/End of line
      C-a: home
      C-e: end
      # kill line
      C-k: [Shift-end, CTRL-x]
      # macOS like
      Super-x: CTRL-x
      Super-c: CTRL-c
      Super-v: CTRL-v
      Super-z: CTRL-z
      Super-f: CTRL-f
      Super-t: CTRL-t
      Super-r: CTRL-r
      Super-w: CTRL-w
  - name: ESC+IME off for vim
    application:
      only: [Alacritty, Code, com.mitchellh.ghostty]
    exact_match: true
    remap:
      ESC: [esc, hanja]
